.popup {
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.popup.active {
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
  visibility: visible;
  opacity: 1;
}
