.popup {
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  transition: 0.5s all;
}

.popup.active {
  display: flex;
  transition: 0.5s all;
}
