.popup__container {
  position:absolute;
  top: 123px;
  left: 5.9375%;
  object-position: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88.125vw;
  padding-top: 25px;
  border-radius: 10px;
}

@media screen and (min-width: 1280px) {
  .popup__container {
    top: 195px;
    left: 33.203125%;
    width: 430px;
    padding-top: 34px;
  }
}
