@import url("../vendor/inter.css");
@import url("../vendor/normalize.css");
@import url("../pages/profile/profile.css");
@import url("../pages/mesto/mesto.css");
@import url("../pages/popup/popup.css");

.body {
  background-color: black;
  max-width: 100%;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .body {
    display: flex;
    flex-direction: column;

  }
}

.page {
 padding-left: 8.4375vw;
 padding-top: 28px;
 padding-bottom: 31.6px;
 border-bottom: solid 1px #545454;
}

@media screen and (min-width: 1280px) {
  .page {
    width: 880px;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.header__logo {
  max-width: 32.41875vw;
}

.main {
  padding-top: 42px;
  max-width: 88.125vw;
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 1280px) {
  .main {
    max-width: 880px;
    padding-top: 36.25px;
  }
}

.footer {
  padding-top: 48px;
  padding-bottom: 36px;
  padding-left: 5.9375vw;
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 67px;
    padding-left: 0;
    width: 880px;
    margin: 0 auto;
  }
}


.footer__text {
  font-family: "Inter", sans-serif;
  font-style: Regular;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .footer__text {
    font-size: 18px;
    line-height: 22px;
  }
}
